.head {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 64px;
  display: flex;
}

.title {
  font-size: xx-large;
  line-height: 64px;
  font-family: Georgia;
  color: #66327C;
  padding: 0 0 0 30px;
}

.main {
  padding: 74px 10px 10px 10px;

}

.logList {
  display: flex;
  flex-flow: column-reverse;
  height: calc(100vh - 84px);
  overflow: auto;
}


.logTitle {
  font-size: x-large;
  font-family: Consolas;
}

.logTitleText {
  //color: white;
  display: inline-block;
  padding: 0 0 0 5px;
  //border-radius: 30px;
}

.logTitleDate {
  padding: 5px 10px 5px 10px;
}

.logItem {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
  margin: 10px calc(10px + 10vw) 0 10vw;
  border-radius: 7px;
  animation: show 1s;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
}

.infoText {
  font-size: large;
}

.option {
  padding: 15px 0 20px 15px;
  display: flex;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.code {
  color: black;
}

.sourceManage {
  position: fixed;
  top: 0;
  left: 15vw;
  width: 70vw;
  height: 50vh;
  z-index: 2;
  background-color: white;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  animation: showManage 0.5s;
}

.sMtitle {
  font-size: x-large;
  color: #66327C;
  border-left: 3px solid #66327c;
  padding: 0 0 0 10px;
  margin: 5px 0 5px 0;
}

.sMelementTitle {
  font-size: large;
  padding: 0 10px 0 0 ;
}

@keyframes showManage {
  from {
    opacity: 0;
    transform: translateY(-10vh);
  }
  to {
    opacity: 1;
  }
}

.closeIcon{
  padding: 5px 5px 5px 5px;
  border-radius: 50px;
}

.closeIcon:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}

.picker{
  position: fixed;
  z-index: 3;
  left: 2vw;
  top: 100px;
}

.pickerIcon{
  padding: 5px 5px 2px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
}

.pickerIcon:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.pickerMain{
  margin: 2px 0 0 0;
  position: absolute;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  width: 25vw;
  display: none;
}

.pickerTitle{
  padding: 2px 0 2px 5px;
  font-size: x-large;
  border-left: 3px solid #66327c;
}

.pickerItemTitle{
  font-size: larger;
  margin: 5px 0 3px 0;
}