.head{
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 64px;
}

.title{
  font-size: xx-large;
  line-height: 64px;
  font-family: Georgia;
  color: #66327C;
  padding: 0 0 0 30px;
}

.main{
  padding: 74px 10px 10px 10px;

}