.head{
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 64px;
  display: flex;
}

.title{
  font-size: xx-large;
  line-height: 64px;
  font-family: Georgia;
  color: #66327C;
  padding: 0 0 0 30px;
}

.main{
  padding: 74px 10px 10px 10px;

}

.logList{
  display: flex;
  flex-flow: column-reverse;
  height: calc(100vh - 84px);
  overflow: auto;
}


.logTitle{
  font-size: large;
}

.logTitleText{
  color: white;
  display: inline-block;
  padding: 0 15px 0 15px;
  border-radius: 30px;
}

.logTitleDate{
  padding: 5px 10px 5px 10px;
}

.logItem{
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px 10px 10px 10px;
  margin: 10px calc(10px + 10vw) 0 10vw;
  border-radius: 7px;
}

.infoText{
  font-size: large;
}

.option{
  padding: 15px 0 20px 15px;
  display: flex;
}